target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduces-pom.xml
buildNumber
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


**/mvnw
**/mvnw.cmd

**/.mvn
**/HELP.md
**/target/
.idea

**/.gitignore

lib